:root{
    primary-color: #023047
    secondary-color: light blue #8ECAE6
    accent1-color: orange #FB8500
    accent2-color: yellow #FFB703 
}

nav{
    font-family: quicksand
}

header{
    max-width: 800px;
	margin: 10rem auto;
	font-family: Fredoka;
    
}


h1{

    text-align: center;
    font-family: Fredoka;
	font-size: 4rem;
    color:  #023047;
	text-shadow: 3px 3px 5px #8ECAE6;

}

h2{
    text-align: center;
    font-family: Fredoka;
	font-size: 2rem;
    color:  #023047;
	text-shadow: 3px 3px 5px #8ECAE6;

}

p{
    text-align: left;
    font-family: quicksand;
	font-size: rem;
    color:  #023047;

}
article{
    position:absolute;
}

article_image{
    float:right
}

footer{

    font-family: quicksand;
    margin-top: 15px;
    border-top: 1px solid #000;
    
}

/*Class Selectors*/

.hero img{
    display: block;
    width: 100%;
    height: auto;
}