:root{
    color: #023047;
    color: #8ECAE6;
    color: #FB8500;
    color: #FFB703;
}

header{
    max-width: 800px;
	margin: 1rem auto;
	font-family: Fredoka;
}


h1{
    font-family: Fredoka;
	font-size: 4rem;
    color:  #023047;
	text-shadow: 3px 3px 5px #8ECAE6;
}

h2{
    font-family: Fredoka;
	font-size: 2rem;
    color:  #023047;
	text-shadow: 3px 3px 5px #8ECAE6;
}

p{
    font-family: quicksand;
	font-size: 1rem;
    color:  #023047;
}

footer{
    border-top: 1px solid #000;
}


/*Class Selectors*/

.h1{
    position: absolute;
    top: 1px;
    left: 30px;
}

.hero{
    position: relative;
    text-align: center;
}



.hero-img {
    display: block;
    width: 100%;
    height: auto;
}

.sociallinks{
    font-family: quicksand;
    text-decoration: none;
}

.nav{
    font-family: quicksand;
    text-decoration: none;
}
  
.article{
    position: absolute;
    padding: 1rem;
    margin: 10px;
    background-color: #FFB703;
    opacity: 80%;
    bottom: 8px;
    left: 16px;
}


#article-img{
    float: right;
}
