:root{

}

* {
    margin:0;
    padding: 5px;
    box-sizing: border-box;
}

nav{
    background-color:steelblue; padding:10px;
    padding: 1.5rem;
}
nav a{
    color:white;
    display: block;
    padding: 5px;
}
h1{
   color:steelblue;

}
main img{
    float: right;
    width:150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 5px;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
	position: absolute;
    top: 30px;
    left: 80px;
    color: white;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selectors*/
.box{
    margin: 1em;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1em;
    background-color: #c5e8f3;
    color: #000;
}

.indent{
    padding-left: 2rem;
}